@charset "UTF-8";
html{
  font-size: 100%;
}
h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: firebrick;
}
header{
  background-color: pink;
}
body{
  background-color: pink;
}
#cello img{
  width: 350px;
  height: 450px;
  margin-top: 350px;
  margin-left: 20px;
}
#bag img{
  margin-top: 490px;
  margin-left: 570px;
  height: 300px;
  width: 250px;
  transform: scale(-1, 1);
}
.divide{
  display: flex;
  justify-content: space-between;
}
.leftside{
  width: 5%;
  background-color: green;
}
.middle{
  width: 90%;
  background-color: white;
  display: flex;
  height: 800px;
}
.rightside{
  width: 5%;
  background-color: green;
}
footer{
  background-color: sienna;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0px;
}
footer p{
  color: White;
  font-size: 1rem;
